/* 
Header
*/

*{
    margin: 0;
    padding: 0;
    border: 1px solid black ;
}

header{
    background-color:  #5B89A6;
    padding: 1%;
}

header nav{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    padding: 1%;
}


header nav ul{
    justify-content:center;
    display: flex;
    gap: 3%;
}

header nav ul li{
    padding: 2%;
    list-style: none;
}



header nav ul li a {
    padding: 10px 15px;
    border-radius: 6px;
    background-color: #BF9926;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: #F2F2F2; 

}

header nav ul li a:hover {
    background-color: #F2F2F2 ; 
    color: #BF9926;
    transition: 0.3s;   

}

header nav img{
        margin-top: 4%;
        width: 50%;
        margin-left: 5%;
}

.botonInicioSesion li{
padding: 10%;
}

.botonInicioSesion li a{
    padding: 10px 15px;
    border-radius: 6px;
    background-color: #F2F2F2;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: #BF9926; 
}
.botonInicioSesion li a:hover{
    
    box-shadow: 0 12px 24px rgba(0,0,0,0.25);
    
}

/* 
Footer
*/

footer{
    padding: 2%;
    margin-top: 1%;
        background-color: #5B89A6;
        border: 1px solid #BF9926;
        
}

footer section{
        display: flex;
    justify-content: space-between;
}



footer div{
    width: 20%;

}

.redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes a{
    width: 20%;
}

.redes img{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;

}

.logoFooter img{
    width: 50%;
    display: flex;
    margin-left: 25%;
}

.informacionFooter{
    text-align: right;
}

.informacionFooter p{
    margin-top: 1%;
    margin-bottom: 1%;
    color: #F2F2F2;
}

/* 
Primera seccion index
*/

.seccionPrincipal{

    margin-top: 2%;
    display: flex;
    align-items: center;
    padding: 5% 10%;
    background: linear-gradient(to right, #5B89A6, #1E2D40);
    border-radius: 12px; 
    color: #F2F2F2;
}

.infoPrincipal{
    width: 60%;
}

.infoPrincipal h1{
    text-align: center;
    margin-top: 3%;
    font-size: xx-large;
    color: #F2F2F2 ;
}
.infoPrincipal h3{

    margin-top: 1%;
    font-size: x-large;
    color: #F2F2F2;
}

.infoPrincipal a{

    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 35%;
    display: inline-block;
    padding: 2% 5%;
    background-color: #BF9926;
    color: #1E2D40;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.infoPrincipal a:hover {
    background-color: #F2F2F2;
    color: #1E2D40;
}


.imagenPrincipal {
    width: 35%;
    display: flex;
    justify-content: center;
}

.imagenPrincipal img {
    width: 100%;
    height: auto;
    border-radius: 12px;

}

/* 
segunda seccion index
*/

.seccionSecundaria{
    display: flex;
    padding: 2%;


}

.informacionSecundaria{
    width: 45%;
    padding: 2%;
    color: #1E2D40;
    text-align: center;
    margin-top: 5%;
}

.informacionSecundaria h2{
    color: #BF9926;
    margin-bottom: 2%;
}

.informacionSecundaria h4{
    margin-bottom: 1%;
    font-size: larger;
    color: #5B89A6; 
}

.informacionSecundaria p{
    font-size: large;
    color: #8C856D; 

}

.Formulario{
    width: 55%;
    display: flex;  
    justify-content: center;
}

.Formulario form {
    position: relative;
    padding: 2%;
    bottom: 20%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 12px;
    box-shadow: 10px 6px 18px rgba(0,0,0,0.55);
}

.Formulario form h2{
    font-size: larger;
    margin-bottom: 7%;
    color: #1E2D40;
    text-align: center;
}

.Formulario form h4{
    font-size: medium;
        margin-bottom: 0.5rem;
       color: #5B89A6;
}

.Formulario form input{
    margin-bottom: 5%;
    padding: 2%;
    border: 2px solid #5B89A6;
    border-radius: 8px;
    width: 100%;
        box-sizing: border-box; 
}

.Formulario form article{
    margin-bottom: 5% ;
    padding: 1%;
}

.botonForm{
    margin-top: 15% ;
    

}
.botonForm input[type="submit"] {
    width: 100%;
    padding: 10px 15px;
    background: linear-gradient(135deg, #BF9926, #8C856D);
    color: #F2F2F2;
    font-weight: bold;
    font-size: large;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.botonForm input[type="submit"]:hover {
    background: linear-gradient(135deg, #F2F2F2, #BF9926);
    color: #1E2D40;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.35);
    transition: 0.3s;
}

/* 
tercera seccion index
*/

.terceraSeccion{
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 1%;
        background-color: #F2F2F2;
}

.terceraSeccion div{
    background-color: white;
    border-radius: 12px;
    padding: 5%;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    text-align: center;
        margin-top: 3%;
}

.terceraSeccion h1{
    grid-column: 1 / span 3;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1%;
    color: #1E2D40; 
}

.terceraSeccion div img {
    width: 70%;
    margin-bottom: 10%;
    border-radius: 10px;    
}


.terceraSeccion div h2, h3{
    text-align: center;
    margin-bottom: 5%;

}
.terceraSeccion div h2{
    color: #BF9926;
}

.terceraSeccion div h3{
        color: #8C856D;
}

/* 
productos
*/

.titulosProductos h1{
    text-align: center;
    margin-bottom: 1%;
    margin-top: 2%;
    color: #1E2D40;
    font-size: xx-large;
}

.productos {
    padding: 3% 8%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 5%;
}

.productos div{
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
    text-align: center;
    background-color: #F2F2F2;
    border: 1px solid black;
    box-shadow: 0 10px 18px rgba(0,0,0,0.45); ;
}

.productos div h3{
    color: #BF9926;
    font-size: x-large;
}

.productos div img{
    width: 70%;
    padding: 5%;
    margin-left: 5%;
}

.productos div p{
    color: #8C856D;
    text-align: center;
    margin-top: 3%;
    font-size: large;
}

.productos div a{
    display: inline-block;
    padding: 2% 5%;
    margin-top: 5%;
    border: 1px solid #1E2D40;
    text-decoration: none;
    color: #1E2D40;
    border-radius: 12px;
    font-size: large;
}

.productos div a:hover{
    border: 1px solid #BF9926;
    color: #BF9926;
    box-shadow: 0 6px 10px rgba(0,0,0,0.25);
    transition: 0.5s;
}

/* 
informacion
*/


.SeccionInfo div{
        width: 100%;
    }

.SeccionInfo div h1{
    font-size: xx-large;
    margin-bottom: 2%;
    color: #1E2D40;
}

.SeccionInfo div h3{
    padding: 0.5%;
    color: #5B89A6;
}

.articulosInfo{
    display: flex; 
    justify-content: space-between ;
    gap: 5%;

}


.SeccionInfo{
    padding: 5% 10%;
    background-color: #F2F2F2;
    text-align: center;
}


.SeccionInfo div article{
    padding: 3%;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 3px solid #5B89A6;
}


.SeccionInfo div h4{

    font-size: x-large;
    color: #BF9926;
    margin-bottom: 5%;
}

.SeccionInfo div p{
    color: #8C856D;
}

.mapa{
    padding: 5% 10%;
}



.mapa h1{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 2%;
    color: #1E2D40;
}


/* Hero Section */
.plazaHero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 10%;
    background: linear-gradient(to right, #5B89A6, #1E2D40);
    border-radius: 12px;
    color: #F2F2F2;
    margin: 2% auto;
    gap: 5%;
  }
  
  .plazaTexto {
    width: 50%;
  }
  
  .plazaTexto h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .plazaTexto p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  
  .btnPlaza {
    display: inline-block;
    background: #BF9926;
    padding: 0.8rem 1.5rem;
    color: #1E2D40;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .btnPlaza:hover {
    background: #F2F2F2;
    color: #BF9926;
  }
  
  .plazaImg img {
    width: 100%;
    max-width: 450px;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.35);
  }
  
  /* Contexto */
  .plazaContexto {
    padding: 4% 12%;
    background-color: #F2F2F2;
    border-radius: 12px;
    margin: 3% auto;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  }
  
  .plazaContexto h2 {
    color: #1E2D40;
    margin-bottom: 1rem;
  }
  
  .plazaContexto p {
    margin-bottom: 1rem;
    color: #333;
    line-height: 1.8;
  }
  
  .plazaContexto ul {
    margin-left: 1.5rem;
    list-style: disc;
    color: #444;
    line-height: 1.6;
  }
  .ProductosArriba{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
    background: linear-gradient(to right, #5B89A6, #1E2D40);
    border-radius: 12px;
    color: #F2F2F2;
    margin: 2% auto;
    gap: 5%;
  }
  .ProductosArriba div{
    width: 50%;
  }

  .ProductosArriba div img{
    width: 80%;
    border-radius: 12px;
    margin-left: 10%;
    box-shadow: 0 8px 18px rgba(0,0,0,0.35);
  }

  .ProductosArriba div h1{
    color: #F2F2F2;
    font-size: xxx-large;
    margin-bottom: 2%;
  }

  .ProductosArriba div p {
    font-size: large;
  }

  .ProductosArriba div a{
    
        margin-top: 4%;
        margin-bottom: 2%;
        display: inline-block;
        padding: 2% 5%;
        background-color: #BF9926;
        color: #1E2D40;
        font-weight: bold;
        border-radius: 8px;
        text-decoration: none;
        transition: 0.3s;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    
 
    }
    
    .ProductosArriba div a:hover {
        background-color: #F2F2F2;
        color: #1E2D40;}